
.idea/

tarraform/.terraform.lock.hcl

tarraform/terraform.tfstate

tarraform/terraform.tfstate.backup

tarraform/.terraform/providers/

terraform/.terraform.*

terraform/.terraform/

terraform/terraform.tfvars

*.backup

terraform/terraform.tfstate

ansible/playbooks/inventory/inventory.yaml

ansible/playbooks/roles/nginx/files/cert.pem
ansible/playbooks/roles/nginx/files/key.pem

terraform/graph.dot

terraform/graph.dot.svg

.DS_Store

ansible/playbooks/roles/app/files/docker-compose.yaml
